@page
@model SinusSkateboards.UI.Pages.Shop.CartModel
@{
}
<div class="small-container mt-5">
    <div class="row justify-content-center align-content-center">
        <h1 class="text-light" style="background:black; font-size:52px;">Your cart</h1>
    </div>
    @if (Model.Products.Count() > 0)
    {
        @foreach (var product in Model.Products)
        {
            <div class="row justify-content-center align-content-center text-light d-flex">
                <img class="cart-img" src="~/images/@product.Image" />
                <h4 class="cart-item mt-4 ml-2">@product.Title - @product.Price kr</h4>
                <form method="post">
                    <button class="btn btn-light mt-4" type="submit" asp-page-handler="Delete" asp-route-id="@product.Id">Remove</button>
                </form>
            </div>
        }
        <div class="row mt-3 ml-5 justify-content-center align-content-center text-light d-flex">
            <h4 class="cart-item mt-2 ml-5 mr-2">Total: @Model.Sum kr</h4>
            <a asp-page="/Shop/Checkout" class="ml-2 mt-1 mb-1 btn btn-light">Checkout</a>
        </div>
    }
    else
    {
        <div class="row justify-content-center align-content-center">
            <h2 class="text-light">Empty</h2>
        </div>
    }
</div>
