@page
@model SinusSkateboards.UI.Pages.Shop.CartModel
@{
}
<div class="container mt-5">
    <div class="row justify-content-center align-content-center">
        <h1 class="text-light" style="background:black; font-size:52px;">Your cart</h1>
    </div> 
</div>
