@page
@model SinusSkateboards.UI.Pages.Shop.CheckOrderModel
@{
}
<div class="container">
    <div class="row trackOrderRow justify-content-center align-content-center mb-2">
        <form method="post">
            <h2 class="text-light pb-2">Enter order number to track!</h2>
            <input name="search" type="text" placeholder="Search..." class="searchBar2 pl-2" />
            <button class="bg-transparent border-0" asp-route-search="search" type="submit"><img src="~/images/logos/search-icon-png-21.png" style="width:25px;" /></button>
        </form>
    </div>@if (Model.OrderExists == true)
    {
        <div class="row mt-5 justify-content-center align-content-center text-light d-flex text-center">
            <div class="col-md-3">
                <div class="cardSpecItem">
                    <h6 class="ogFont p-md-2 font-italic">Press icon below to check on your package!</h6>
                    <a href="https://www.postnord.se/en/our-tools/track-and-trace" target="_blank"><img class="imageZoomFullOpacity" src="~/images/logos/postnord.png" width="150" /></a>
                    <h5>Order number:</h5>
                    <h5 class="pb-2">@Model.Order.OrderNumber</h5>
                </div>
            </div>
        </div>
    }
</div>




