@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
            @*<a><img src="~/images/logos/sinus-logo-landscape-large.png" /></a>*@
<br />
<div class="container pt-3">
    <div class="row pt-2 justify-content-center align-content-center">
        <img src="~/images/logos/sinus-logo-symbol-large.png" style="width: 125px;" />
    </div>
        <div class="row justify-content-center align-content-center">
            <p class="text-light" style="font-size:120px;">Welcome to Sinus</p>
        </div>
        <div class="row pt-0 mt-0 mb-5 pb-5 justify-content-center align-content-center">
            <p class="text-light" style="font-size:42px; background:black;">Get inspired!</p>
        </div>
    </div>
