@page
@model SinusSkateboards.UI.Pages.LoginModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <h1 class="mb-3 text-light">Login</h1>
    </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label text-light" asp-for="Login.Username">Username</label>
                        <input type="text" asp-for="Login.Username" class="form-control"/>
                        <span asp-validation-for="Login.Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-light" asp-for="Login.Password">Password</label>
                        <input type="password" asp-for="Login.Password" class="form-control" />
                        <span asp-validation-for="Login.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check text-light">
                        <input type="checkbox" asp-for="Login.RememberMe" class="form-check-input" />
                        <label class="form-check-label pl-4 font-italic" asp-for="Login.RememberMe">Remember me</label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-outline-light">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
